@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600&display=swap');

@font-face {
  font-family: 'Minion Pro Italic';
  src: url('/_next/static/fonts/MinionPro-It.otf') format('opentype');
}

html, body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #222;
}

* {
  box-sizing: border-box !important;
  font-family: 'Encode Sans', sans-serif;
}
